.company
{
    font-weight: 900;
    color: rgb(133, 43, 186) !important;
}
.sp1 {
    color: rgb(133, 43, 186) !important;
  }
.navbar
{
    background-color: white;
}

.profile
{
border-radius: 49%;
width: 50px;
height: 50px;
}

.li
{
    border-bottom: 1px solid gray !important;
    text-align: center !important;
}

.col1
{
    background-color: white; 
    height: 88vh; width: 65px !important;
}
.firstChat 
{

    background-color: rgb(192, 118, 235);
}

.facebook
{
    width: 25px !important;
}
.para1
{
    font-size: 12px;
}

.dots
{
    right: 5px;
}
.col4
{
    border: 1px solid #eaecef;
    border-right: 0px solid white !important;
}
.nev
{
    margin-top: -15px
}


.search{
        width: 20rem
}
.message
{
    margin-top: -16px !important;
    font-size: 12px;
    margin-left: 5rem;

}

.send
{
    bottom: 20px;
    width: 50% !important;
}



#myDiv.hov {
    bottom: 20px;
    display: none;
    visibility: hidden;
}

#myDiv.hov:hover {
    display: block !important;
    visibility: visible !important;
    color: red;
}